
:root{
  --main-blue: #45567d;
}

html{
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Verdana, sans-serif
}
.container{
  width: 100%;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: flex-end;
  background-color: #9c0e3d;
  position: fixed;
  top: 0;
  padding: 0px 20px;
  width: 100%;
  overflow: hidden;
}
.header nav > ul{
  padding: 30px;
  display: flex;
  flex-direction: row;
}
.header nav > ul > li {
  list-style: none;
  margin-left: 25px;
  margin-right: 5px;
  letter-spacing: 3px;
  font-size: 20px  
}
.nav-bar a {
  text-decoration: none;
  color: white;
}
.nav-bar a:hover{
  color: gray;
}
#welcome-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 75px;
  background-color: #3d2628;
  height: 100%;
}
#welcome-section h1{
  color: white;
  font-size: 50px;
}
#welcome-section h2{
  color: #9c0e3d;
  font-weight: lighter;
  font-size: 30px;
}
h1, h2 {
  font-family: 'Raleway', sans-serif;
}
#projects{
  background-color: #3d5691;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  text-align: center;
}
#projects h1 {
  padding: 50px;
  color: white;
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.projects-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  flex-flow: wrap;
  padding: 20px;
  margin: auto;

  
}
.box{
  display: flex;
  width: 400px;
  height: 475px;
  flex-direction: column;
  align-items: center;
  text-align:center;
  margin: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: gray;
  overflow: auto;
}
.box .project-image{
  width: 100%;
  height: 90%;
}
.show-all{
  font-size: 1rem;
  background: gray;
  transition: background 0.3s ease-out;
}
.btn{
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}
a{
  text-decoration: none;
  color: white;
}
#socials{
  background: #2d313d;
  color: white;
  text-align: center;
  margin: auto;
}
.lets-work-together{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}
.lets-work-together > h1{
  font-size: 3.5vw;
  margin-bottom: 10px;
}
.lets-work-together > p{
  font-style: italic;
  font-weight: light;
}
.social-icons{
  padding-top: 50px;
  padding-bottom: 300px;
  border-bottom: 5px solid #9c0e3d;
}
.social-icons-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.social-icons-list > li {
  margin: 20px;
}
.social-icons-list > a {
  text-decoration: none;
}
.icon {
  font-size: 1.25vw;
}
.footer{
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: center;
  align-items: center;
  background-color: #2d313d;
  color: white;
}
.footer > p {
  margin: 40px;
}
